<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>クラス展示テンプレート</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
</head>

<body>
  <div id="header"></div>
  <section class="page-section class-exhibition">
    <h1 class="class-name">{{class_name}}</h1>
    <h2 class="stylish-heading">
      <span class="heading-line left"></span>
      <span class="heading-text">{{project_name}}</span>
      <span class="heading-line right"></span>
    </h2>
    <div class="photo-container">
      <img src="{{example.jpg}}" alt="展示写真">
    </div>
    <p class="description">{{展示の説明がここに入ります。}}</p>
  </section>
  <div id="footer"></div>
  <script src="/assets/js/site.js"></script>
</body>

</html>