<meta charset="UTF-8">
<link rel="stylesheet" href="/assets/css/footer_template.css" type="text/css">
<footer class="footer-wrap" role="contentinfo">
    <div class="footer-content">
        <section class="footer-section">
            <h2 class="stylish-heading">
                <span class="heading-line left"></span>
                <span class="heading-text">サイト情報</span>
                <span class="heading-line right"></span>
            </h2>
            <div class="footer-links">
                <div><a href="/">トップ</a></div>
                <div><a href="/access.html">アクセス</a></div>
            </div>
        </section>
        <section class="footer-section">
            <h2 class="stylish-heading">
                <span class="heading-line left"></span>
                <span class="heading-text">ソーシャル</span>
                <span class="heading-line right"></span>
            </h2>
            <div class="social-icons">
                <div>
                    <a aria-label="X" href="https://x.com/nz_hishosai">
                        <picture>
                            <source srcset="/assets/img/xlogo-l.png" media="(prefers-color-scheme: dark)">
                            <source srcset="/assets/img/xlogo-d.png" media="(prefers-color-scheme: light)">
                            <img src="/assets/img/xlogo-l.png" alt="X" />
                        </picture>
                    </a>
                </div>
                <div>
                    <a aria-label="Instagram" href="https://www.instagram.com/nz_hishosai/">
                        <picture>
                            <source srcset="/assets/img/iglogo.png" media="(prefers-color-scheme: light)">
                            <source srcset="/assets/img/iglogo.png" media="(prefers-color-scheme: dark)">
                            <img src="/assets/img/iglogo.png" alt="Instagram" />
                        </picture>
                    </a>
                </div>
            </div>
        </section>
        <section class="footer-section">
            <h2 class="stylish-heading">
                <span class="heading-line left"></span>
                <span class="heading-text">問い合わせ</span>
                <span class="heading-line right"></span>
            </h2>
            <div class="footer-links">
                <div>Mail: <a href="mailto:danshi-koho@nanzan.ac.jp">danshi-koho@nanzan.ac.jp</a></div>
                <div>Tel: <a href="tel:052-831-6455">052-831-6455</a>
            </div>
        </section>
    </div>
    <small class="copyright">© 2025 Hishosai. All rights reserved.</small>
</footer>