body{
    padding: 0;
    margin: 0;
}

.header {
  position: fixed;
    top: 0;
    left: 0;
  background-color: yellow;
    width: 100%;
    height: 50px;
}

.header-container{
    position: absolute;
    top: 25px;
    transform: translate(0,-50%);
    display: flex;
    justify-content: space-around;
}

.header-box{
    display: flex;
    justify-content: space-between;
}